<h2>{{$ctrl.greeting}}</h2>

<form name="addressform" class="form-horizontal" ng-submit="submit(addressform,$ctrl.address.data)" novalidate>

    <div ng-show="addressform.$invalid && (!addressform.$pristine || addressform.$submitted)" class="alert alert-danger">
        <i class="fa fa-exclamation-triangle"></i><span></span> Please fix the errors and retry
    </div>

    <input-text field-name="street" meta="$ctrl.address.meta.street" ng-model="$ctrl.address.data.street" minLength="2" ></input-text>
    <input-text field-name="unit" meta="$ctrl.address.meta.unit" ng-model="$ctrl.address.data.unit" ></input-text>
    <input-text field-name="city" meta="$ctrl.address.meta.city" ng-model="$ctrl.address.data.city" minLength="2" ></input-text>
    <input-select field-name="state" meta="$ctrl.address.meta.state" ng-model="$ctrl.address.data.state" required ></input-select>
    <input-text field-name="postalcode" meta="$ctrl.address.meta.postalcode" ng-model="$ctrl.address.data.postalcode" required pattern="\d{5}(?:[-\s]\d{4})?" mask="99999-9999" placeholder="Zip Code"></input-text>
    

    <div class="col-xs-10 col-xs-offset-2">
        <input-checkbox field-name="billingaddress" 
                        meta="$ctrl.address.meta.billingaddress" 
                        ng-model="$ctrl.address.data.billingaddress">
        </input-checkbox>
        <input-checkbox field-name="business" 
                        meta="$ctrl.address.meta.business" 
                        ng-model="$ctrl.address.data.business">
        </input-checkbox>

    </div>
    
    <input-text field-name="note" meta="$ctrl.address.meta.note" ng-model="$ctrl.address.data.note"  placeholder="Note" ></input-text>
    
    <button type="submit" class="btn btn-success pull-right" ng-disabled="addressform.$invalid">Save</button>
</form>
<br/>

<!--<div>submitted: {{addressform.$submitted}}</div>-->
<!--<pre>{{addressform.$error | json}}</pre>-->
 
