<div class="test">

  <div class="centeronpage">
      <div class='mydate-control datePicker'>
          <input name='date' class="" type='text' placeholder='MM/DD/YYYY'>
          <i class="fa fa-calendar"></i>
      </div>
    </div>

    
<div class="col-xs-8">
          <div class="control">
            <input type="checkbox" name="powercheckbox" id="checkbox-1"/>
            <label for="checkbox-1">
              <span class="label">
                <span class="checkBox"></span>Internet power on 2.</span>
              <span class="data"></span>                
            </label>
          </div>
 
          <div class="control">

          <input type="checkbox" name="my-checkbox" id="checkbox-2" disabled/>            
            <label for="checkbox-2">
              <span class="label">
              <span class="checkBox"></span>Turn off the water.<span>
              <span class="data"></span>            
            </label>
          </div>

          <div class="control">
            <input type="radio" name="my-radio" id="radio-option-1"/>
            <label for="radio-option-1">
              <span class="label">
              <span class="radioButton"></span>Pick Me.</span>
              <span class="data"></span>
            </label>
          </div>

          <div class="control">
            <input type="radio" name="my-radio" id="radio-option-2"/>
            <label for="radio-option-2">
              <span class="label">
                <span class="radioButton"></span>No, Pick Me!</span>
                <span class="data"> this is a block of information added to the lable of the radio button</span>
            </label>
          </div>

          <div class="control">
            <input type="radio" name="my-radio" id="radio-option-3" disabled/>
            <label for="radio-option-3"> 
              <span class="label">
              <span class="radioButton"></span>Don't Pick Me because I have a very long label and I'm disabled.</span>
              <span class="data"></span>
            </label>
          </div>
      
        </div>
    </div>
  </div>