<h3>{{$ctrl.greeting}}</h3>

<form name="plutoform" class="form-horizontal" ng-submit="submit(plutoform,$ctrl.planet)" novalidate>
    <input-text field-name="fullname" label="Full Name" ng-model="$ctrl.planet.fullname" required></input-text>
    <input-text field-name="nickname" label="Nickname" ng-model="$ctrl.planet.nickname" minlength="5"></input-text>
    <input-text field-name="else" ng-if="$ctrl.planet.else" label="Something" ng-model="$ctrl.planet.else" minlength="5" required></input-text>
    <button type="submit" class="btn btn-success col-xs-offset-2">Save</button>

</form>
<div>submitted: {{plutoform.$submitted}}</div>
<br/>

<pre>{{plutoform.$error | json}}</pre>
 